{% extends "work_page/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h1>Crocheting Work</h1>
{% endblock header %}

{% block content %}
    <ul>
        {% for category in categories %}
            <li>
                <h3>
                    <a href="{% url 'crochetwork:category' category.id%}">
                        {{category}}
                    </a>
                </h3>
            </li>
        {% empty %}
            <li>No category have been added yet.</li>
        {% endfor %}
    </ul>
    <h3>
        <a href="{% url 'crochetwork:new_category' %}">Add a new category</a>
    </h3>
{% endblock content %}